<!-- app/views/students/show.html.erb -->
<h1><%= @student.full_name %></h1>
<%= link_to 'Edit Student', edit_student_path(@student) %> |
<%= link_to 'Back to Students', students_path %>

<h2>Units</h2>
<%= link_to 'Add Unit', new_student_unit_path(@student) %>
<ul>
  <% @student.units.each do |unit| %>
    <li>
      <%= unit.name %>: <%= unit.grade %> |
      <%= link_to 'Edit', edit_student_unit_path(@student, unit) %> |
      <%= link_to 'Delete', [@student, unit], method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
